# Byte-compiled files
__pycache__/
*.py[cod]

# C extension modules
*.so

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
.venv/

# Virtual environments
venv/
ENV/
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Pytest cache
.pytest_cache/

# Pyre type checker
.pyre/

# mypy
.mypy_cache/
